<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Todo Vue</title>
  <link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
</head>

<body>

  <section class="todoapp">
    <header class="header">
      <h1>Todos</h1>
      <input class="new-todo" placeholder="What needs to be done?"
        v-model.trim="newTodo"
        @keyup.enter="createTodo"
        autofocus>
    </header>

    <!-- This section should be hidden by default and shown when there are todos -->
    <section class="main">
      <ul class="todo-list">

        <li v-for="todo in todos"
            :class="{completed: todo.isDone, editing: todo === editingTodo}">

          <div class="view">
            <input class="toggle" type="checkbox" v-model="todo.isDone">
            <label @dblclick="startEditing(todo)">{{todo.text}}</label>
            <button class="destroy" @click="destroy(todo)"></button>
          </div>

          <input class="edit"
            @keyup.escape="cancelEditing(todo)"
            @keyup.enter="finishEditing(todo)"
            @blur="finishEditing(todo)"
            v-model.trim="todo.text">
        </li>

      </ul>
    </section>

    <!-- This footer should hidden by default and shown when there are todos -->
    <footer class="footer">
      <!-- This should be `0 items left` by default -->
      <span class="todo-count">
        <strong>0</strong> item left</span>

      <!-- Remove this if you don't implement routing -->
      <ul class="filters">
        <li>
          <a class="selected" href="#/">All</a>
        </li>
        <li>
          <a href="#/active">Active</a>
        </li>
        <li>
          <a href="#/completed">Completed</a>
        </li>
      </ul>

      <!-- Hidden if no completed items are left ↓ -->
      <button class="clear-completed">Clear completed</button>
    </footer>
  </section>

  <footer class="info">
    <p>Double-click to edit a todo</p>
  </footer>

  <!-- Scripts here ↓ -->

  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="app.js"></script>
</body>

</html>