<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Todo Vue</title>
  <link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
</head>

<body>

  <section class="todoapp">
    <header class="header">
      <h1 v-text="title"></h1>
      <input class="new-todo" placeholder="What needs to be done?"
        v-on:keyup.enter="createTodo"
        autofocus>
    </header>

    <section class="main" v-if="todos.length">

      <ul class="todo-list">
        <li v-for="todo in todos" :class="{ completed: todo.isDone, editing: todo === editing }">
          <div class="view">
            <input class="toggle" type="checkbox" v-model="todo.isDone">
            <label @dblclick="startEditing(todo)">{{todo.text}}</label>
            <button class="destroy" @click="destroyTodo(todo)"></button>
          </div>

          <input class="edit"
            @keyup.esc="cancelEditing"
            @keyup.enter="finishEditing"
            @blur="finishEditing"
            :value="todo.text">
        </li>
      </ul>
    </section>

    <footer class="footer" v-if="todos.length">

      <span class="todo-count">
        <strong>{{ activeTodos.length }}</strong> item(s) left</span>

      <!-- Remove this if you don't implement routing -->
      <ul class="filters">
        <li>
          <a class="selected" href="#/">All</a>
        </li>
        <li>
          <a href="#/active">Active</a>
        </li>
        <li>
          <a href="#/completed">Completed</a>
        </li>
      </ul>

      <button class="clear-completed" @click="clearCompleted" v-show="completedTodos.length">Clear completed</button>
    </footer>
  </section>

  <footer class="info">
    <p>Double-click to edit a todo</p>
  </footer>

  <!-- Scripts here ↓ -->
  <script src="node_modules/vue/dist/vue.js"></script>
  <script src="node_modules/vue-router/dist/vue-router.js"></script>
  <script src="app.js"></script>
</body>

</html>